.datestamp{
  position: absolute;
  left: 8px;
  top: 2px;
}

.fisheye-show, .fisheye-dots-show{
  position: absolute;
  left: 8px;
  top: 20px;
  background-color: rgb(245,245,245);
  border: 1px solid black;
  border-radius: 4px;
}
.fisheye-hide, .fisheye-dots-hide{
  border: 0px;
  visibility: collapse;
/*  display: none;
*/}

#fisheye {
  /*position: absolute;*/
  /*fill: black;*/
}

