.datestamp{
  position: absolute;
  left: 8px;
  top: 2px;
}

.fisheye, .fisheye-dots-show{
  position: absolute;
  left: 8px;
  top: 20px;
  background-color: rgb(245,245,245);
  border: 1px solid black;
  border-radius: 4px;
}

.fisheye-label, .fisheye-legend{
  font-weight: 300;
  font-size: 10px;
}