/*body {
  font: 10px sans-serif;
  margin: 0;
}
*/

.board{
  width: 90%;
  border: 1px solid rgb(0,50,0);
  margin: 0 20px 0 20px;
  border-radius: 5px;

  background-color: rgb(240,250,240)
}

.fisheye-lines{
  stroke: black;
  stroke-width: 2;
  stroke-dasharray: 5, 5;
  opacity: 0.2;
}

path.line {
  fill: none;
  stroke-width: 1.5px;
}

#lineA{
  stroke: rgb(60,184,120);
}

#lineB{
  stroke: rgb(0,110,110);
}

path.area {
  fill: #e7e7e7;
}

.axis {
  shape-rendering: crispEdges;
}

/*axis path*/
.x.axis path, .y.axis path {
  fill: none;
  stroke: rgb(120,150,120);
  stroke-width: 2;
}
/*Rating CSS*/
.userScore {
  fill: #444;
  stroke: #66cc33; 
}

.colleagueScores {
  fill: #4a87ee;
  stroke: #1255c0;
}

.colleague-ripples {
  fill: none;
  stroke: #4a87ee; 
}

.arc {
  fill: #66cc33;
  stroke: none; 
}

circle.click {
  fill: #444;
  stroke: #66cc33;
}

.ripples {
  fill: none;
  stroke: #66cc33;
}

.label {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 13px;
}
/*Rating CSS ends*/

/*tiny line*/
.x.axis line, .y.axis line {
 
}

/*ticks*/
.x.axis .tick text, .y.axis .tick text {
  fill: rgb(120,150,120);
  font-weight: bold;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.snapshot-line {
  stroke: black;
  stroke-width: 2px;
}
