.row-header, .row-board{
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  padding: 5px;

}
.row-header{
  margin: 10px 0 0 0;
  /*padding: 10px 10px 0 10px;*/
  background-color: rgb(240,240,240);
}
.row-board{
  padding: 0px 10px 10px 10px;
}
.dashboard-header{
  display: inline;
}
.dashboard-header > div{
  display: inline;
  color: rgba(240,240,240);
}
.dashboard-header, .board-wrapper, .rating-header{
  /*padding: 15px;*/
  /*box-shadow: 0 1px 2px rgba(0,0,0,0.5);*/
}
.dashboard-title{
  font-size: 1.8em;
  font-weight: bold;
}
.dashboard-header, .rating-header{
  padding: 5px;
  background-color: rgb(240,240,240);
  vertical-align: middle;
}

.dashboard-dropdown-menu{
  position: absolute;
  right: 5px;

  background-color: white;
  box-shadow: 0 1px 1px rgba(0,0,0,0.5);

  padding: 2px;

  z-index: 100;
}

@media screen and (max-width: 768px) {
  .dashboard-header > .dashboard-settings{
    display: none;
  }
  .dashboard-header > .dashboard-dropdown{
    display: inline;
  }
}
@media screen and (min-width: 768px) {
  .dashboard-header > .dashboard-settings{
    display: inline;
  }
  .dashboard-header > .dashboard-dropdown{
    display: none;
  }
}
.board-loading{
  width: 100%;

  text-align: center;
  vertical-align: middle;

  padding: 3em;
  color: rgb(100,100,100);
}
.board-loading-text{
  font-size: 5em;
}
.board-loading-spinner{
  font-size: 8em;
}

.board-wrapper{
  padding-top: 15px;
}

.fisheye-lines{
  stroke: black;
  stroke-width: 2;
  stroke-dasharray: 5, 5;
  opacity: 0.2;
}

.xText, .yText{
  font-size: 1.2em;
}

/****/

path.line {
  fill: none;
  stroke-width: 4px;
}

#lineA{
  stroke: rgb(150,50,50);
}

#lineB{
  stroke: rgb(150,150,90);
}

path.area {
  fill: #e7e7e7;
}

.axis {
  shape-rendering: crispEdges;
}

/*axis path*/
.x.axis path, .y.axis path {
  fill: none;
  stroke: rgb(150,150,150);
  stroke-width: 2;
}

/*tiny line*/
.x.axis line, .y.axis line { 
}

/*ticks*/
.x.axis .tick text, .y.axis .tick text {
  fill: rgb(150,150,150);
  font-weight: bold;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.snapshot-line {
  stroke: black;
  stroke-width: 2px;
}
