.container-rating{
  /*text-align: center;*/
}
.rating-header{
/*  padding: 10px 10px 0 10px;
  padding: 5px;
  background-color: rgb(240,240,240);
  vertical-align: middle;
*/
  display: inline;
}
.rating-header > div{
  display: inline;
  color: rgba(240,240,240);
}
.rating-dropdown-menu{
  position: absolute;
  right: 5px;

  background-color: white;
  box-shadow: 0 1px 1px rgba(0,0,0,0.5);

  padding: 2px;

  z-index: 100;
}

@media screen and (max-width: 768px) {
  .rating-header > .rating-settings{
    display: none;
  }
  .rating-header > .rating-dropdown{
    display: inline;
  }
}
@media screen and (min-width: 768px) {
  .rating-header > .rating-settings{
    display: inline;
  }
  .rating-header > .rating-dropdown{
    display: none;
  }
}


/*Rating CSS*/
.userScore {
  fill: #FF772C;
  stroke: #FF772C; 
}

.colleagueScores {
  fill: #4a87ee;
  stroke: #1255c0;
}

.colleague-ripples {
  fill: none;
  stroke: #4a87ee; 
}

.ratingsvg {
  display: block;
  margin: auto;
}

circle.click {
  fill: #444;
  stroke: #ff6633;
}

.ripples {
  fill: none;
  stroke: #ff6633;
}

.label, .key {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
}
.key{
  top: 13px;
  font-size: 14px;
  /*left: 20px;*/
}

.x-rating-axis path, .y-rating-axis path {
 stroke: black;
 stroke-width: 3;
 stroke-opacity: .8;
}

/*ticks*/
.x-rating-axis text, .y-rating-axis text {
  fill: rgb(150,150,150);
  font-weight: bold;
  font-size: 15px;
}

.x-rating-axis .minor {
  stroke-opacity: .5;
}

.alert-bonuspoints {
  background-color:rgb(249,159,56);
  color: white;
  margin-top: 15px;
  margin-bottom: 10px;
  height: 54px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5)
}

.tooltip {
  line-height: 1.4;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

.tooltip-score {
  font-weight: 600;
  font-size: 16px;
}
