.container-rating{
  /*text-align: center;*/
}
.rating-header{
/*  padding: 10px 10px 0 10px;
  padding: 5px;
  background-color: rgb(240,240,240);
  vertical-align: middle;
*/
  display: inline;
}
.rating-header > div{
  display: inline;
  color: rgba(240,240,240);
}
.rating-dropdown-menu{
  position: absolute;
  right: 5px;

  background-color: white;
  box-shadow: 0 1px 1px rgba(0,0,0,0.5);

  padding: 2px;

  z-index: 100;
}

@media screen and (max-width: 768px) {
  .rating-header > .rating-settings{
    display: none;
  }
  .rating-header > .rating-dropdown{
    display: inline;
  }
}
@media screen and (min-width: 768px) {
  .rating-header > .rating-settings{
    display: inline;
  }
  .rating-header > .rating-dropdown{
    display: none;
  }
}


/*Rating CSS*/
.userScore {
  fill: #FF772C;
  stroke: #FF772C; 
}

.colleagueScores {
  fill: #4a87ee;
  stroke: #1255c0;
}

.colleague-ripples {
  fill: none;
  stroke: #4a87ee; 
}

.ratingsvg {
  display: block;
  margin: auto;
}

circle.click {
  fill: #444;
  stroke: #ff6633;
}

.ripples {
  fill: none;
  stroke: #ff6633;
}

.label, .key {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 13px;
}
.key{
  position: absolute;
  top: 20px;
  /*left: 20px;*/
}
.shad {
  box-shadow: #851518 0px 2px 0px 0px;
  border-radius: 3px;
  display: inline-block;
  zoom: 1;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 9px 18px 7px 18px;
  margin: 0 0 5px 0;
/*  font-family: Roboto;"Whitney",helvetica,arial,sans-serif;*/
  font-weight: 500;
  font-size: 13px;
  text-decoration: none;
  border-width: 0;
  -webkit-transition: none;
  transition: none;
  -webkit-text-shadow: none;
  text-shadow: none;
  color: white;
  background-color: #ff6633;
}

.shad:focus {
  outline:0;
}

.shad:hover {
background: #e0393e;
color: #fff;
}

.x-rating-axis path, .y-rating-axis path {
 stroke: black;
 stroke-width: 3;
 stroke-opacity: .8;
}

/*ticks*/
.x-rating-axis text, .y-rating-axis text {
  fill: rgb(150,150,150);
  font-weight: bold;
  font-size: 15px;
}

.x-rating-axis .minor {
  stroke-opacity: .5;
}

.alert-bonuspoints {
  background-color:rgb(249,159,56);
}
