<div ng-include="'partials/navbar.html'"></div>
<div ng-include="'partials/sidebox.html'"></div>
<div class='container'>
  <div class="row row-header">
    <div class='dashboard-header col-sm-12'>
      <div class='dashboard-title'>DASHBOARD</div>
      <div class='dashboard-settings pull-right'>
        <span>Date Range</span>
        <div class="btn-group btn-group-sm buttons-date-range">
          <button type="button" class="btn btn-default button-date-range" ng-click='setDateRange(30)'>1 Month</button>
          <button type="button" class="btn btn-default button-date-range" ng-click='setDateRange(182)'>6 Months</button>
          <button type="button" class="btn btn-default button-date-range" ng-click='setDateRange(365)'>1 Year</button>
          <button type="button" class="btn btn-default button-date-range" ng-click='setDateRange()'>Max</button>
        </div>
        <span>Overlays</span>
        <div class="btn-group btn-group-sm buttons-display-mode">
          <button type="button" class="btn btn-default button-display-mode" ng-click='setDisplayMode("fisheye")'>Fisheye</button>
          <button type="button" class="btn btn-default button-display-mode" ng-click='setDisplayMode("milestone")'>Milestone</button>
          <button type="button" class="btn btn-default button-display-mode" ng-click=''>External</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-board">
    <div ng-controller='DashboardChartCtrl' class="board-wrapper col-sm-12">
      <div class='board'></div>
    </div>
  </div>
</div>
