<div ng-include="'partials/navbar.html'"></div>

<div class='container'>
  <div class="row">
    Bar
  </div>
  <div class="row">
    <button class='show-sidebox' ng-hide='options.showSidebox' ng-click='toggleSidebox()'>►</button>
    <div class="sidebox-wrapper col-sm-3" ng-show='options.showSidebox'>
      <div class='sidebox'>
        <h4>Dashboard Configurations</h4>
        <p>Date Range</p>
        <div class="btn-group btn-group-sm buttons-date-range">
          <button type="button" class="btn btn-default button-date-range" ng-click='setDateRange(30)'>1 Month</button>
          <button type="button" class="btn btn-default button-date-range" ng-click='setDateRange(182)'>6 Months</button>
          <button type="button" class="btn btn-default button-date-range" ng-click='setDateRange(365)'>1 Year</button>
          <button type="button" class="btn btn-default button-date-range" ng-click='setDateRange()'>Max</button>
        </div>
        <p>Display Mode</p>
        <div class="btn-group btn-group-sm buttons-display-mode">
          <button type="button" class="btn btn-default button-display-mode" ng-click='setDisplayMode("fisheye")'>Fisheye</button>
          <button type="button" class="btn btn-default button-display-mode" ng-click='setDisplayMode("milestone")'>Milestone</button>
          <button type="button" class="btn btn-default button-display-mode" ng-click=''>External</button>
        </div>
        <h4>Account Settings</h4>
        <h4>Invite your friends!</h4>
      </div>
      <button class='hide-sidebox' ng-click='toggleSidebox()'>◄</button>
    </div>
    <div class="board-wrapper col-sm-9">
      <div class='board'></div>
    </div>
    <div ng-controller='DashboardChartCtrl'></div>
  </div>
</div>
