<div ng-include="'partials/navbar'"></div>
<div ng-include="'partials/sidebox.html'" ng-show="currentUser"></div>
<div class="jumbotron">
  <div class="container">

     <p><h1>Welcome to my2¢ents</h1></p>
     <p style="text-align:center" ><a class="btn btn-primary btn-lg" href="/signup" ng-hide="currentUser" role="button">Sign Up</a><a class="btn btn-primary btn-lg" href="/login" ng-hide="currentUser" style="position:relative;	left:15px;" role="button">Login</a><a class="btn btn-primary btn-lg" href="/rating" ng-show="currentUser" role="button">Vote Today!</a></p>
  </div>
  <div class="row marketing">
    <h4>Happiness</h4>
  </div>
</div>

<div class="footer">
  <p>Made at Hack Reactor</p>
</div>
