<div ng-include="'partials/navbar'"></div>
<div ng-show="currentUser" ng-include="'partials/sidebox.html'"></div>

<div class="jumbotron">
  <div class="container">
    <h1>Welcome To my2¢ents</h1>
     <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Sign Up</a><a class="btn btn-primary btn-lg" href="/login" style="position:relative;	left:15px;" role="button">Login</a></p>
  </div>
  <div class="row marketing">
    <h4>Happiness</h4>
  </div>
</div>

<div class="footer">
  <p>Made at Hack Reactor</p>
</div>
