<div ng-include="'partials/navbar.html'"></div>
<div ng-include="'partials/sidebox.html'"></div>
<!-- responsive chart sizing -->
<div class="container container-rating col-xs-12 col-sm-8 col-lg-6">
	<!-- <div class="panel panel-default"> -->
		<div class="row row-header">
			<div class="rating-header">
				<div class="dashboard-title">VOTE FOR REWARDS!</div>
				<div class='rating-settings pull-right'>
					<button type="button" class="btn btn-default" ng-click='displayHistory()'><i class="fa fa-history"></i> See your past ratings</button>
				</div>
				<div class="rating-dropdown pull-right">
					<button type="button" class="btn btn-default rating-dropdown-button" ng-click='toggleDropdown()'><i class='fa fa-cog'></i></button>
					<div class="rating-dropdown-menu" ng-show='showDropdown' ng-blur='toggleDropdown()'>
						<button type="button" class="btn btn-default" ng-click='displayHistory()'><i class="fa fa-history"></i> Toggle past ratings</button>
					</div>
				</div>
			</div>

		</div>
		<div class="row row-board ratingBoard board-wrapper">
    	<div class="key" ng-style='{left: sizing.keyLeft}'>
				<circle-key user="true"></circle-key>Your vote
				<circle-key user="false"></circle-key>Your co-workers' votes
			</div>
		</div>

<!-- 		  <ul class="list-group">
		    <li class="list-group-item">
		    	<div class="key">
						<circle-key user="true"></circle-key>Your vote
						<circle-key user="false"></circle-key>Your co-workers' votes
  				</div>
		    </li>
		    <li class="list-group-item">
		    </li>
			</ul>
 -->	<!-- </div> -->
</div>

		
			