<div ng-include="'partials/navbar.html'"></div>
<div ng-include="'partials/sidebox.html'"></div>
<div class="container">

	<div class="panel panel-default">
		<div class="panel-heading">Your voting history</div>
		<div id="line-example"></div>
		<div class="panel-footer">
			<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-default">
					  <input type="radio" name="options" id="option1"> Week
					</label>
					<label class="btn btn-default">
					  <input type="radio" name="options" id="option2"> Month
					</label>
					<label class="btn btn-default">
					  <input type="radio" name="options" id="option3"> 3 Month
					</label>
			</div>
		</div>
	</div>
</div>