<div ng-include="'partials/navbar.html'"></div>
<div ng-include="'partials/sidebox.html'"></div>
<div class="container">

	<div class="panel panel-default">
		<div class="ratings-header">
			<div class="dashboard-title">VOTING HISTORY</div>
		</div>
		<div id="line-example"></div>
		<div class="panel-footer key">
			<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-default active">
					  <input type="radio" name="options" id="week"> Week
					</label>
					<label class="btn btn-default">
					  <input type="radio" name="options" id="month"> Month
					</label>
					<label class="btn btn-default">
					  <input type="radio" name="options" id="3month"> 3 Month
					</label>
			</div>
		</div>
	</div>
</div>