<div ng-include="'partials/navbar.html'"></div>
<div ng-include="'partials/sidebox.html'"></div>
<div class="container container-rating-history col-xs-12 col-sm-8 col-lg-6" ng-class="{sideboxshown: showSidebox}">

	<div class='row row-header'>
		<div class="rating-header">
			<div class="dashboard-title">VOTING HISTORY</div>
		</div>
		<div class="btn-group pull-right" data-toggle="buttons" ng-disabled="scores">
				<label class="btn btn-default active" ng-click="renderChart(scores)" >
				  <input type="radio" name="options" id="week" > Week
				</label>
				<label class="btn btn-default" ng-click="renderChart(scores, 'month')">
				  <input type="radio" name="options" id="month"> Month
				</label>
				<label class="btn btn-default" ng-click="renderChart(scores, '3months')">
				  <input type="radio" name="options" id="3month"> 3 Month
				</label>
		</div>
	</div>
	<div class='row row-board'>
		<div id="line-example"></div>
	</div>
</div>